backups
minds
elarin_memory.pkl
elarin_info.json
elarin_memory.pkl.corrupt
elarin_memory.pkl.tmp
object_memories
elarin/models/clip-vit-b32
elarin/models/gpt2
elarin/models/whisper-small
elarin/data/replay_buffer
archive
elarin/src/utils/__pycache__
elarin/src/sensors/__pycache__
elarin/src/language_areas/__pycache__
elarin/src/__pycache__
*/__pycache__/
elarin/persistent
persistent/hippocampus.npy
persistent/motor_cortex_generator.pt
elarin/logs/debug.log
elarin/logs/GPU_debug.log
elarin/logs/model_timing_debug.log